/*import selected fonts from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Raleway&display=swap'); 

/*remove default margin, padding, border and box sizing*/


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*add styling for body with font size 62.5% to allow 1rem = 10px*/

body { 
    background-color: rgb(15, 15, 48);
    font-family: Raleway, sans-serif;
    color: white;
    font-size: 62.5%;
}

/*remove list style and text decoration from all list items and links*/

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

/*style icons*/

i {
    font-size: 1.5rem;
    padding: .5rem;
}

.icon-sml {
    font-size: .8rem;
    padding: 0 .8rem;

}

/*code to make icons glow on hover taken and adapted from https://www.w3schools.com/howto/howto_css_glowing_text.asp*/

.glow:hover {
    font-size: 2rem;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px gold, 0 0 40px gold, 0 0 50px gold, 0 0 60px gold, 0 0 70px gold;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(231, 225, 189), 0 0 40px rgb(231, 225, 189), 0 0 50px rgb(231, 225, 189), 0 0 60px rgb(231, 225, 189), 0 0 70px rgb(231, 225, 189), 0 0 80px #rgb(231, 225, 189);
    }
  }

/*style buttons*/

.btn {
    background: white;
    border-radius: 5px;
    color: rgb(15, 15, 48);
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: inherit;
    font-weight: bolder;
    font-size: 1.3rem;
}

.btn:hover {
    font-size: 1.5rem;
}

/*style h2 headers*/
.header {
    font-family: Montserrat Alternates, sans-serif;
    font-size: 1.3rem;
    padding: 0.5rem;
    text-transform: capitalize;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
/*style main section*/

.main {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 10rem;
}

/*styling for page header with flex box*/

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-family: Montserrat Alternates, sans-serif;
    font-size: 2rem;
    padding:0.5rem;
}

/*style modal with instructions*/

.modal {
    display: none;
    background-color: rgba(255,255,255, 0.4);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    padding-top: 5rem;
}

.modal p, li {
    line-height: 1.5rem;
    /*remove number from the list of items but keep the order*/
    list-style-type: none;
    padding: 0 .8rem;
}

.modal-content {
    background-color: rgb(16,46,74);
    padding: 2rem;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    list-style-position: inside;
    font-size: .8rem;
}

.close-modal {
    background: transparent;
    color: white;
    float: right;
    font-size: 2rem;
    margin-top: -.8rem;
}

.close-modal:hover {
    font-size: 2.3rem;
}

.modal-header {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2rem;
}

/*TIMER SECTION*/
#countdown {
    display: block;
    font-size: 4rem;
    font-weight: bolder;
    height: 80%
}

#timer > * {
    margin-bottom: 2rem;
}

#timer {
    margin-top: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 0.5rem;
    line-height: 1.2rem;
}

footer > p {
    font-size: 0.8rem;
}