/*import selected fonts from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Raleway&display=swap'); 

/*remove default margin, padding, border and box sizing*/

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*add styling for body with font size 62.5% to allow 1rem = 10px*/

body { 
    background-color: rgb(15, 15, 48);
    font-family: Raleway, sans-serif;
    color: white;
    font-size: 62.5%;
}

/*remove list style and text decoration from all list items and links*/

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

/*style icons*/

i {
    font-size: 1.3rem;
    padding: 0.5rem;
}

/*style buttons*/

.btn {
    background: white;
    border-radius: 0.2rem;
    color: rgb(15, 15, 48);
    padding: 0.5rem;
    font-weight: bolder;
}

/*style main section*/

.main {
    width: 80%;
    margin: auto;
    text-align: center;
}

/*styling for page header with flex box*/

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#logo {
    font-family: Montserrat Alternates, sans-serif;
    font-size: 200%;
    padding:0.5rem;
}